.menu {
    height: max-content;

    ul {
        display: flex;
        gap: 5.6rem;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media-breakpoint-down(lg) {
            flex-direction: column;
            gap: 0;
        }

        li {
            position: relative;
            display: flex;
            padding: 0 1.2rem;

            @include media-breakpoint-down(lg) {
                padding: 0;
            }

            &:hover {
                a, a.active {
                    color: #34C3FF;
                }

                &::before {
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #34C3FF;
                left: 0;
                bottom: 0;
                transition: all .1s linear;
                opacity: 0;

                @include media-breakpoint-down(lg) {
                    content: none;
                }
            }

            a {
                font-family: $font-second;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: normal;
                color: $white;
                text-shadow: 0px 0px 1.5rem $black;
                text-transform: uppercase;
                transition: all .1s linear;
                padding-bottom: 2rem;

                @include media-breakpoint-down(lg) {
                    padding: 1.25rem 0;
                }

                &.active {
                    color: $warning;
                }
            }
        }
    }

    &__more {
        position: relative;

        &>p {
            display: none;

            font-family: $font-second;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: normal;
            color: $white;
            text-shadow: 0px 0px 1.5rem $black;
            text-transform: uppercase;
            transition: all .1s linear;
            padding-bottom: 2rem;
            margin-left: 1rem;
            cursor: pointer;

            &.active {
                display: flex;
            }
        }

        .menu__hidden {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 0;
            width: max-content;
            background: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(5px);
            padding: 2rem;
            border-radius: 1rem;
            transform: translate(-50%, 1rem);
            transition: all .1s linear;
            left: 50%;
            opacity: 0;
            pointer-events: none;

            &.active {
                opacity: 1;
                pointer-events: all;
            }

            li {
                padding: 0;

                &::before {
                    content: none;
                }

                a {
                    padding: 1rem 0;
                }
            }
        }
    }
}