.menu-secondary {
    ul {
        display: flex;
        gap: 5rem;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 1.5rem 0;

            a {
                font-family: $font-second;
                font-size: 1.4rem;
                font-weight: 400;
                color: $secondary;
                text-decoration: none;
                transition: all .1s linear;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}