.modal-form {
    position: relative;
    width: 78.3rem;
    height: 53.9rem;
    background: rgba($color: $black, $alpha: 0.70);
    backdrop-filter: blur(5px);
    padding: 7.8rem 0 0 8rem;
    border-radius: 2rem;

    @include media-breakpoint-down(lg) {
        width: 37.5rem;
        height: auto;
        padding: 1.6rem;
    }

    &::before {
        content: '';
        position: absolute;
        width: 49rem;
        height: 41rem;
        background: url(../images/svg/pattern-2.svg) no-repeat;
        background-size: cover;
        top: 5.8rem;
        right: 4.4rem;

        @include media-breakpoint-down(lg) {
            content: none;
        }
    }

    &>h2, &>h2>span {
        font-weight: 300;
        font-size: 8rem;
        line-height: 8rem;
        color: $white;

        @include media-breakpoint-down(lg) {
            font-size: 5rem;
            line-height: 5rem;
            margin-bottom: 10rem;
        }

        span {
            color: $warning;
        }
    }

    form {
        width: 56.7rem;

        @include media-breakpoint-down(lg) {
            width: 100%;
            margin: 0;
        }

        h2 {
            font-size: 9.7rem;

            @include media-breakpoint-down(lg) {
                font-size: 5rem;
                line-height: 4rem;
                margin-bottom: 1rem;
            }
        }

        button {
            @include media-breakpoint-down(lg) {
                max-width: none;
                width: 100%;
                order: 1;
            }
        }
    }

    .f-button.is-close-btn {
        top: 1.8rem;
        right: 2rem;

        svg {
            stroke: $white;
        }
    }
}